<nav class="navbar header navbar-expand-lg navbar-map fixed-top">
    <div class="container"><a href="#" class="navbar-brand text-uppercase font-weight-bold">COVID-19 PPE Tracker</a>
        
    </div>
</nav>