body {
  /* font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; */
  /* font-family: 'Open Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  padding-top: 60px;
}
html, body {
  height: 100%;
  margin: 0;
}
a {
  color: #00B7FF;
}

.bg-gradient{
  /* background-image: url('/images/ncov.png'); */
  background-color: #eeeeee;
  background-size: cover;
  background-attachment: fixed;
}

.header.navbar{
  background-color:#e57373;
  /* padding:0rem 0.5rem; */
  position: fixed;
  top:0;
  z-index: 500;
  width: 100%;
  font-size: 1rem;
}

.header.navbar.navbar-dark .navbar-nav .nav-link{
  color: #ffffff;
}

.choose-location{
  height:300px;
}

.fab-container-map {
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 500;
}

.fab-container{
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 500;
}
.btn-fab{
  border-radius: 50%;
  width:56px;
  height:56px;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}
.btn-fab.btn-sm{
  border-radius: 50%;
  width:40px;
  height:40px;
}

.btn-fab span{
  position: relative;
  /* top:10px; */
  font-size: 30px;
  vertical-align: middle;
  top:50%;
  margin-top: -25px;
}
.btn-fab.btn-sm span{
  margin-top: -20px;
  /* top:10px; */
  font-size: 20px;
}

.close-icon {
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .vertical-partition {
    border-right:1px solid #aaa;
  }
}

.logo{
  background-color: #fff; 
  border-radius: 50%; 
}
.navbar-toggler{
  padding:0.25rem;
}